name: Docker Build, Push, & Deploy {{ $.PKG_NAME }} Integration Package

on:
  release:
    types: [published]

concurrency:
  group: {{`${{ github.workflow }}`}}-{{`${{ github.ref }}`}}
  cancel-in-progress: false

env:
  PKG_NAME: {{ $.PKG_NAME }}
  PKG_SLUG: {{ $.PKG_SLUG }}
  PKG_IMAGE_NAME: {{ $.PKG_IMAGE_NAME }}

jobs:
  docker-build-push:
    name: Docker Build & Push
    if: startsWith(github.event.release.tag_name, '{{ $.PKG_SLUG }}-v')
    environment: prd
    runs-on: {{`${{ vars.RUNNER }}`}}

    # Needed for Github <> GCP Auth
    permissions:
      contents: read
      id-token: write

    steps:
    - uses: datakit-dev/.github/actions/setup-monorepo@main
      with:
        dtkt-dev-sparse-checkout: |
          scripts
          tasks
        dtkt-sdk-sparse-checkout: sdk-go
        dtkt-github-actions-app-id: {{`${{ vars.DTKT_GITHUB_ACTIONS_APP_ID }}`}}
        dtkt-github-actions-private-key: {{`${{ secrets.DTKT_GITHUB_ACTIONS_PRIVATE_KEY }}`}}

    - uses: datakit-dev/.github/actions/setup@main
      with:
        task: true
        versions: {{`${{ vars.VERSIONS }}`}}

    - id: auth
      uses: google-github-actions/auth@v2
      with:
        token_format: access_token
        workload_identity_provider: {{`${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}`}}
        service_account: {{`${{ vars.GCP_SERVICE_ACCOUNT_PRD }}`}}
        request_reason: dtkt-integrations {{`${{ env.PKG_SLUG }}`}} integration CI/CD

    - uses: docker/setup-buildx-action@v4

    - name: Configure {{`${{ env.PKG_NAME }}`}} Docker metadata
      id: meta
      uses: docker/metadata-action@v6
      with:
        images: {{`${{ vars.GCP_ARTIFACT_PUSH_REGISTRY }}`}}{{`${{ env.PKG_IMAGE_REF }}`}}
        tags: type=sha,format=long
        labels: |
          org.opencontainers.image.title={{`${{ env.PKG_NAME }}`}} Integration
          org.opencontainers.image.description=DataKit {{`${{ env.PKG_NAME }}`}} Integration
          org.opencontainers.image.licenses=UNLICENSED
        annotations: |
          org.opencontainers.image.title={{`${{ env.PKG_NAME }}`}} Integration
          org.opencontainers.image.description=DataKit {{`${{ env.PKG_NAME }}`}} Integration
          org.opencontainers.image.licenses=UNLICENSED
          org.opencontainers.image.authors={{`${{ github.repository_owner }}`}}
          org.opencontainers.image.vendor={{`${{ github.repository_owner }}`}}

    - name: Login to Google Artifact Registry
      uses: docker/login-action@v4
      with:
        registry: {{`${{ vars.GCP_ARTIFACT_PUSH_REGISTRY }}`}}{{`${{ env.PKG_IMAGE }}`}}
        username: oauth2accesstoken
        password: {{`${{ steps.auth.outputs.access_token }}`}}

    - name: Build & Push {{`${{ env.PKG_NAME }}`}} Integration Docker image
      uses: docker/build-push-action@v7
      with:
        context: ./dtkt-universe
        file: ./dtkt-universe/dtkt-integrations/packages/{{`${{ env.PKG_SLUG }}`}}/Dockerfile
        platforms: linux/amd64
        target: runner
        push: true
        tags: {{`${{ steps.meta.outputs.tags }}`}}
        labels: {{`${{ steps.meta.outputs.labels }}`}}
        annotations: {{`${{ steps.meta.outputs.annotations }}`}}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy-prd:
    name: Deploy to Production
    environment: prd
    runs-on: {{`${{ vars.RUNNER }}`}}

    needs: docker-build-push

    steps:
    - uses: datakit-dev/.github/actions/setup-monorepo@main
      with:
        dtkt-dev-sparse-checkout: |
          scripts
          tasks
        dtkt-github-actions-app-id: {{`${{ vars.DTKT_GITHUB_ACTIONS_APP_ID }}`}}
        dtkt-github-actions-private-key: {{`${{ secrets.DTKT_GITHUB_ACTIONS_PRIVATE_KEY }}`}}

    - uses: datakit-dev/.github/actions/setup@main
      with:
        argocd: true
        versions: {{`${{ vars.VERSIONS }}`}}

    - name: Docker tag
      id: meta
      uses: docker/metadata-action@v6
      with:
        images: {{`${{ vars.GCP_ARTIFACT_PULL_REGISTRY }}`}}{{`${{ env.PKG_IMAGE_NAME }}`}}
        tags: type=sha,format=long
        flavor: latest=false

    - uses: datakit-dev/.github/actions/deploy@main
      with:
        project-name: dtkt-integrations
        argocd-app-name: dtkt-integrations-{{`${{ env.PKG_SLUG }}`}}-pkg
        images: {{`${{ env.PKG_IMAGE_NAME }}`}}={{`${{ steps.meta.outputs.tags }}`}}
        argocd-server: {{`${{ vars.ARGOCD_SERVER }}`}}
        argocd-auth-token: {{`${{ secrets.ARGOCD_AUTH_TOKEN }}`}}
        dtkt-github-actions-app-id: {{`${{ vars.DTKT_GITHUB_ACTIONS_APP_ID }}`}}
        dtkt-github-actions-private-key: {{`${{ secrets.DTKT_GITHUB_ACTIONS_PRIVATE_KEY }}`}}
